{{ define "main" }}
<main class="index-img jarallax clearfix dt" style="background-image: url(images/awestomates-2.jpg);">
    <div class="dtc">
        <div class="col-md-8 offset-md-1 col-lg-6 offset-lg-1">
            <div class="page-title">
                <div class="text-left whitesmoke buffer">
                    <h1 class="capitalise">Welcome Awestomates!
                        <!-- <span></span> -->
                    </h1><hr>
                    <p class="short">An awestomate is anyone living with a stoma or supporting someone living with a stoma.<br/><br/> Most people with a stoma have had to fight <em>(and win)</em> a battle of a lifetime, sometimes fighting chronic illnesses for years before finally being able to get on the other side of that part of their journey, only to be faced with a new appendage that they aren't sure where to get more support dealing with. This is where the community resources available here at awestomates.com fits in!<br/><br/>We want to help awesome people like you through every step of this journey and give you the opportunity to reach out to people who've been there!</p>
                </div>
                <a href="blog.html" class="btn animsition-link">
                    <span>Jump in!</span>
                </a>
            </div>
            <!-- End page-title -->

        </div>
        <!-- End col-md-8 offset-md-1 -->

    </div>

</main>
{{ end }}