<script src="{{ "plugins/countdown/countdown.min.js" | absURL }}"></script>
<script src="{{ "plugins/ajaxchimp/jquery.ajaxchimp.min.js" | absURL }}"></script>
{{ if or .Params.singleImage.enable .Params.slideshowImages.enable }}
<script src="{{ "plugins/backstretch/backstretch.min.js" | absURL }}"></script>
{{ end }}
{{ with .Params.youtubeVideo }}
{{ if .enable }}
<script src="{{ "plugins/YTPlayer/jquery.mb.YTPlayer.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
<script src="{{ "plugins/validate/jquery.validate.min.js" | absURL }}"></script>
<script src="{{ "plugins/slicknav/jquery.slicknav.min.js" | absURL }}"></script>
<script src="{{ "plugins/jarallax/jarallax.min.js" | absURL }}"></script>
<script src="{{ "plugins/sharer/sharer.min.js" | absURL }}"></script>
<script src="{{ "plugins/wow/wow.min.js" | absURL }}"></script>

{{ if .Site.Params.sidebar.search }}
<script src="{{ "plugins/fuse/fuse.min.js" | absURL }}"></script>
<script src="{{ "plugins/mark/mark.min.js" | absURL }}"></script>
<script src="{{ "plugins/search/search.min.js" | absURL }}"></script>
{{ end }}

{{ with .Site.Data.home.map }}
{{ if .enable }}
<script src="https://maps.googleapis.com/maps/api/js?key={{.googleMapsApiKey}}"></script>
{{ end }}
{{ end }}

{{ with .Params.winterEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/winter/winter.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.LowPolyEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/low-poly/low-poly.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.constellationEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/constellation/constellation.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.particlesEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/particles/particles.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.rainbowSquaresEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/rainbow-squares/rainbow-squares.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.shootingStarsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/shooting-stars/shooting-stars.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.starfieldEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/starfield/starfield.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.gravityEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/gravity/gravity.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.fireworksEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/fireworks/fireworks.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.geometricEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/geometric/geometric.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.bubblesEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/bubbles/bubbles.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.mosaicEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/mosaic/mosaic.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.rainEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/rain/rain.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.rainVideoEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/rain/rain-video.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.surfaceEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/surface/surface.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.magnetoEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/magneto/magneto.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.liquidEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/liquid/liquid.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.confettiEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/confetti/confetti.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.orbitEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/orbit/orbit.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.swirlEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/swirl/swirl.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.shiftEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/shift/filter-polyfill.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/shift/shift.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.coalesceEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/coalesce/coalesce.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.pipelineEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/pipeline/pipeline.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.auroraEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/aurora/aurora.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.stardustEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/stardust/stardust.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.abstractartEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/abstractart/abstractart.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.connectionsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/connections/connections.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.alienEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/alien/alien.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.ballsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/balls/balls.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ if or .Params.landscapeStyle1Effect.enable .Params.landscapeStyle2Effect.enable }}
<script src="{{ "plugins/effects/landscape/landscape.min.js" | absURL }}"></script>
{{ end }}
{{ with .Params.landscapeStyle1Effect }}
{{ if .enable }}
<script src="{{ "plugins/effects/landscape/landscape-style1.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.landscapeStyle2Effect }}
{{ if .enable }}
<script src="{{ "plugins/effects/landscape/landscape-style1.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.borealSkyEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/boreal-sky/vendors.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/boreal-sky/boreal-sky.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.colorsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/colors/vendors.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/colors/colors.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.confettiLinesEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/confetti-lines/vendors.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/confetti-lines/confetti-lines.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.starsLinesEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/stars-lines/vendors.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/stars-lines/stars-lines.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.quantumEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/quantum/decorative.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/quantum/quantum.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.physicsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/physics/decorative.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/physics/physics.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.heuristicsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/heuristics/decorative.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/heuristics/heuristics.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.hawkingEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/hawking/decorative.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/hawking/hawking.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.starWarsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/star-wars/infinitetubes.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/star-wars/star-wars.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.brickTunnelEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/brick-tunnel/infinitetubes.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/brick-tunnel/brick-tunnel.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.triangleEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/triangle/infinitetubes.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/triangle/triangle.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.birdsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/birds/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/birds/birds.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.cloudsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/clouds/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/clouds/clouds.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.topologyEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/topology/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/topology/p5.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/topology/topology.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.netEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/net/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/net/net.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.dotsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/dots/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/dots/dots.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.glitchEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/glitch/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/glitch/glitch.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.hillsEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/hills/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/hills/hills.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.waterDropletEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/water-droplet/pixi.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/water-droplet/water-droplet.min.js" | absURL }}"></script>
{{ end }}
{{ end }}
{{ with .Params.globeEffect }}
{{ if .enable }}
<script src="{{ "plugins/effects/globe/three.r92.min.js" | absURL }}"></script>
<script src="{{ "plugins/effects/globe/globe.min.js" | absURL }}"></script>
{{ end }}
{{ end }}

{{ $script := resources.Get "js/app.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
