{{ with .Site.Data.home.services }}
{{ if .enable }}

{{ "<!-- Section Services -->" | safeHTML }}
<section class="section-services" id="services">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="row">

          {{ range .items }}
          <div class="col-md-4">
            <div class="services-box wow fadeUp" data-wow-delay=".3s">
              <div class="icon">
                <i aria-hidden="true" class="{{ .icon }}"></i>
              </div>
              <h2>{{ .title }}</h2>
              <p>{{ .text | safeHTML }}</p>
            </div>
          </div>
          {{ end }}

        </div>

      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}
