<nav class="menu-wrap">

    <div class="menu-close-wrap">
        <div class="container">
            <div class="vl-navbar">
                <a href="#" class="logo">Awestomates</a>

                <a href="#" class="menu-toggle closed">
                    <i class="burger-icon">
                        <i></i>
                    </i>
                </a>
            </div>
        </div>
        <!-- End container -->
    </div>
    <!-- End menu-close-wrap -->

    <div class="valign">

        <ul class="vl-menu">

            <li>
                <a class="animsition-link" href="index.html">home</a>
            </li>
            <li class="has-sub-menu">
                <a href="#">blog</a>
                <ul class="sub-menu">
                    <li>
                        <a class="animsition-link" href="blog.html">blog 01</a>
                    </li>
                    <li>
                        <a class="animsition-link" href="blog_02.html">blog 02</a>
                    </li>
                    <li>
                        <a class="animsition-link" href="blog_03.html">blog 03</a>
                    </li>
                </ul>
            </li>
            <li class="has-sub-menu">
                <a href="#">Gallery</a>
                <ul class="sub-menu">
                    <li>
                        <a class="animsition-link" href="gallery.html">Gallery Masonry</a>
                    </li>
                    <li>
                        <a class="animsition-link" href="gallery_3col.html">Gallery 3Col</a>
                    </li>
                    <li>
                        <a class="animsition-link" href="gallery_4col.html">Gallery 4Col</a>
                    </li>
                </ul>

            </li>
            <li>
                <a class="animsition-link" href="about.html">about me</a>
            </li>
            <li>
                <a class="animsition-link" href="services.html">services</a>
            </li>
            <li>
                <a class="animsition-link" href="contact.html">contact</a>
            </li>

        </ul>
        <!-- End vl-menu -->
    </div>
    <!-- End valign -->

</nav>
<!-- End menu-wrap -->

<div class="clearfix"></div>