<div class="footer-sidebar margin-top70 margin-bottom80 clearfix">

    <div class="col-md-3 sm-margin-bottom40 clearfix">
        <div class="widget lastes-posts">
            <h5 class="widget-title">
                Related Posts:
            </h5>
            <ul class="list-none">
                {{ if .Params.Related }}
                    {{ range .Params.Related }}
                        <li>
                            <a href="#">test</a><br>
                            <span>date</span>
                        </li>
                    {{ end }}
                {{ end }}
                <li>
                    <a href="#">Does inner wisdom breed outer peace?</a><br>
                    <span>20.03.2016</span>
                </li>
                <li>
                    <a href="#">For the love of Jane Austen</a><br>
                    <span>20.03.2016</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- End col-md-3 -->

    <div class="col-md-3 sm-margin-bottom40 clearfix">
        <div class="widget categories">
            <h5 class="widget-title">
                Categories:
            </h5>
            <ul class="list-none">
                <li>
                    <ul class="list-none">
                        <li>
                            <a href="#">Travel (18)</a>
                        </li>
                        <li>
                            <a href="#">LifeStyle (26)</a>
                        </li>
                        <li>
                            <a href="#">Music (32)</a>
                        </li>
                        <li>
                            <a href="#">Video (9)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="list-none">
                        <li>
                            <a href="#">Latest Posts (21)</a>
                        </li>
                        <li>
                            <a href="#">Popular Posts (12)</a>
                        </li>
                        <li>
                            <a href="#">All Posts (85)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End col-md-3 -->

    <div class="col-md-3 sm-margin-bottom40 clearfix">
        <div class="widget tags">
            <h5 class="widget-title">
                Tags:
            </h5>
            <ul class="list-none">
                <li>
                    <a href="#">lifestyle</a>
                </li>
                <li>
                    <a href="#">music</a>
                </li>
                <li>
                    <a href="#">history</a>
                </li>
                <li>
                    <a href="#">holidays</a>
                </li>
                <li>
                    <a href="#">love</a>
                </li>
                <li>
                    <a href="#">books</a>
                </li>
                <li>
                    <a href="#">food</a>
                </li>
                <li>
                    <a href="#">video</a>
                </li>
                <li>
                    <a href="#">photos</a>
                </li>
                <li>
                    <a href="#">animals</a>
                </li>
                <li>
                    <a href="#">travel</a>
                </li>
                <li>
                    <a href="#">fashion</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End col-md-3 -->

    <div class="col-md-3 sm-margin-bottom40 clearfix">
        <div class="widget">
            <h5 class="widget-title">
                Subscribe to Newsletter:
            </h5>
            <p>Fusce a hendrerit est. Integer at nisl. Pellentesque euismod arcu ac justo
                malesuada, porta.

                <div class="fields-newsletter">
                    <input type="text" placeholder="Enter Email">
                    <button>
                        OK
                    </button>
                </div>

            </p>
        </div>
    </div>
    <!-- End col-md-3 -->

</div>