<div class="row">
<div class="col-md-12 margin-bottom70">

    <div class="preview-post-slider-wrap">

        <div class="preview-post-nav-left">
            <i class="pe-angle-left"></i>
        </div>

        <div class="preview-post-nav-right">
            <i class="pe-angle-right"></i>
        </div>

        <div class="preview-post-slider">
            <div class="preview-post active">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title" id="{{- .Params.First | urlize -}}">
                        <a href="#{{ .Params.First | urlize }}">
                        {{ with .Params.First }}{{ . | markdownify | safeHTML }}{{ end }}</a>
                    </h5>
                </div>

            </div>
            <!-- End preview-post -->
            {{ if .Params.Second }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title" id="{{- .Params.Second | urlize -}}">
                        <a href="#{{ .Params.Second | urlize }}">
                        {{ with .Params.Second }}{{ . | markdownify | safeHTML }}{{ end }}</a>
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Third }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title" id="{{- .Params.Third | urlize -}}">
                        <a href="#{{ .Params.Third | urlize }}">
                        {{ with .Params.Third }}{{ . | markdownify | safeHTML }}{{ end }}</a>
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Fourth }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title" id="{{- .Params.Fourth | urlize -}}">
                        <a href="#{{ .Params.Fourth | urlize }}">
                        {{ with .Params.Fourth }}{{ . | markdownify | safeHTML }}{{ end }}</a>
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Fifth }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title">
                        {{ with .Params.Fifth }}{{ . | markdownify | safeHTML }}{{ end }}
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Sixth }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title">
                        {{ with .Params.Sixth }}{{ . | markdownify | safeHTML }}{{ end }}
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Seventh }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title">
                        {{ with .Params.Seventh }}{{ . | markdownify | safeHTML }}{{ end }}
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Eighth }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title">
                        {{ with .Params.Eighth }}{{ . | markdownify | safeHTML }}{{ end }}
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Nineth }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title">
                        {{ with .Params.Nineth }}{{ . | markdownify | safeHTML }}{{ end }}
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->
            {{ if .Params.Tenth }}
            <div class="preview-post">
                <div class="preview-post-content">
                    <div class="post-counter">
                        <span class="cur"></span>
                        <span class="sep">/</span>
                        <span class="sum"></span>
                    </div>
                    <h5 class="preview-title">
                        {{ with .Params.Tenth }}{{ . | markdownify | safeHTML }}{{ end }}
                    </h5>
                </div>
            </div>
            {{ end }}
            <!-- End preview-post -->

        </div>
        <!-- End preview-post-slider -->
    </div>
    <!-- End preview-post-slider-wrap -->

</div>
<!-- End col-md-12 -->
</div>

<div class="clearfix"></div>