{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat }}

{{ "<!-- heading -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-md-12">

        <div class="heading-box">
          <h4>{{ i18n "latestPosts" . }}</h4>
          <h1>{{ .Title }}</h1>
        </div>

    </div>      
  </div>
</div>

{{ "<!-- blog container -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-md-9">

          {{ range .Paginator.Pages }}
          <article class="post-item wow fadeUp" data-wow-delay=".3s">
            {{ if .Params.featureImage }}
              <div class="image-box">
                <a href="{{ .Permalink }}">
                  <img src="{{ .Params.featureImage | absURL }}" alt="{{ .Title }}" />
                </a>
              </div>
            {{ end }}
            <h3 class="title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
            <div class="post-details">
              <div class="date"><i class="fa-solid fa-calendar-days"></i><span> {{ .PublishDate.Format $dateFormat }}</span></div>
              {{ if .Params.author }}<div class="author"><i class="fa-solid fa-user"></i> {{ i18n "authorBy" }} {{ .Params.author }}</div>{{ end }}
              {{ if .Params.categories }}<div class="category"><i class="fa-solid fa-list"></i> {{ with (.GetTerms "categories") }}{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>{{ end }}{{ end }}</div>{{ end }}
            </div>
            <div class="text">
                {{ .Summary }} &#8230;
            </div>
            <div class="button">
                <a href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
            </div>
            
          </article>
          {{ end }}


        {{ partial "pagination" . }}

      </div>
      <div class="col-md-3 mountain-padding-left">

        {{ partial "sidebar" . }}

    </div>      
  </div>
</div>

{{ end }}
