{{ $sidebar := .Site.Params.sidebar }}

  <aside class="widget-area wow fadeUp" data-wow-delay=".3s">

      {{ if $sidebar.search }}
      <section class="widget widget-search">
        <h4 class="widget-title">{{ i18n "search" }}</h4>
        <form id="search-form" role="search" action="{{ "search" | absURL }}" method="get">
          <input type="search" id="search-query" placeholder="{{ i18n "search" }}" aria-label="Search" name="q" />
          <button type="submit" id="submit"><i class="fa fa-search"></i></button>
        </form>
      </section>
      {{ end }}

      {{ if $sidebar.categories }}
      <section class="widget widget-categories">
        <h4 class="widget-title">Categories</h4>
        <ul>
          {{ range .Site.Taxonomies.categories }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
          {{ end }}
        </ul>
      </section>
      {{ end }}

      {{ if $sidebar.latestPosts }}
      <section class="widget widget-recent-entries">
        <h4 class="widget-title">{{ i18n "latestPosts" }}</h4>
        <ul>
          {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </section>
      {{ end }}

      {{ if $sidebar.tags }}
      <section class="widget widget-tagcloud">
        <h4 class="widget-title">{{ i18n "tags" }}</h4>
        <div class="tagcloud">
          {{ range .Site.Taxonomies.tags }}
          <a href="{{ .Page.Permalink }}" class="tagcloud-link">{{ .Page.Title }}</a>
          {{ end }}
        </div>
      </section>
      {{ end }}

    </aside>
