{{ with .Site.Data.home.subscribe }}
{{ if .enable }}

{{ "<!-- Section Subscribe -->" | safeHTML }}
<section class="section-subscribe" style="background-image: url({{ .parallax | absURL }});"  id="subscribe">
    <div class="container">
        <div class="row">
          <h2 class="wow fadeUp" data-wow-delay=".3s"><i aria-hidden="true" class="{{ .icon }}"></i>{{ .title }}</h2>
          <form id="ajaxChimp" class="wow fadeUp" data-wow-delay=".3s">
            <input id="mc-email" type="text" placeholder="Enter your email address">
            <button type="submit">{{ i18n "submit" }}</button>
            <label for="mc-email"></label>
        </form>
        </div>
      </div>
      <script>
                    
        var mailChimpURL = "{{ .mailChimpURL }}"

    </script>
</section>

{{ end }}
{{ end }}
