{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat }}



<div class="container">
	<div class="row">
	  <div class="col-md-12">

		<article class="post-item">
            {{ if .Params.featureImage }}
              <div class="image-box">
                  <img src="{{ .Params.featureImage | absURL }}" alt="{{ .Title }}" />
              </div>
            {{ end }}
            <h3 class="title">{{ .Title }}</h3>
            <div class="post-details">
              <div class="date"><i class="fa-solid fa-calendar-days"></i><span> {{ .PublishDate.Format $dateFormat }}</span></div>
              {{ if .Params.author }}<div class="author"><i class="fa-solid fa-user"></i> {{ i18n "authorBy" }} {{ .Params.author }}</div>{{ end }}
              {{ if .Params.categories }}<div class="category"><i class="fa-solid fa-list"></i> {{ with (.GetTerms "categories") }}{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>{{ end }}{{ end }}</div>{{ end }}
            </div>
            <div class="text">
                {{ .Content }}
            </div>
			{{ if .Params.tags }}
			<div class="tags-links">
				<span>{{ i18n "tags" }}:</span>
				{{ with (.GetTerms "tags") }}{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>{{ end }}{{ end }}
			</div>
			{{ end }}
			<div class="share">
            	<span>{{ i18n "share" }}:</span>
				<ul class="share-icons">
					<li><a href="javascript:;" data-sharer="twitter" data-title="{{ .Title }}" data-url="{{ .Permalink }}"><i class="fa-brands fa-twitter"></i></a></li>
					<li><a href="javascript:;" data-sharer="facebook" data-url="{{ .Permalink }}"><i class="fa-brands fa-facebook"></i></a></li>
					<li><a href="javascript:;" data-sharer="pinterest" data-url="{{ .Permalink }}"><i class="fa-brands fa-pinterest"></i></a></li>
					<li><a href="javascript:;" data-sharer="linkedin" data-url="{{ .Permalink }}"><i class="fa-brands fa-linkedin"></i></a></li>
					<li><a href="javascript:;" data-sharer="reddit" data-url="{{ .Permalink }}"><i class="fa-brands fa-reddit"></i></a></li>
				</ul>
			</div>
        </article>

		  {{ if or .NextInSection .PrevInSection }}

			{{ "<!-- Navigation -->" | safeHTML }}
			<div class="post-navigation">
				{{ if .PrevInSection }}
				<div class="next-post">
					<a href="{{ .PrevInSection.Permalink }}">
						{{ i18n "nextPost" }}<i class="fa fa-angle-right"></i>
					</a>
				</div>
				{{ end }}
				{{ if .NextInSection }}
				<div class="prev-post">
					<a href="{{ .NextInSection.Permalink }}">
						<i class="fa fa-angle-left"></i>{{ i18n "prevPost" }}
					</a>
				</div>
				{{ end }}
			</div>

		  {{ end }}

		  	{{ if .Site.Params.disqusComments }}

			    {{ "<!-- Comments -->" | safeHTML }}
				<div class="comments-post">

						<h4 class="title">{{ i18n "comments" }}</h4>

						<div id="disqus_thread"></div>
						<script>
							var disqus_config = function () {
								this.page.url = "{{ .Permalink | absURL }}";  /* Replace PAGE_URL with your page's canonical URL variable */
								this.page.identifier = "{{ .File.UniqueID }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
							};
							(function() { /* DON'T EDIT BELOW THIS LINE */
								var d = document, s = d.createElement('script');
								s.src = 'https://{{ .Site.Params.disqusComments }}.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

				
				</div>

			{{ end }}

		</div>
	</div>
</div>

{{ end }}