.faqs-prompt {
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    font-style: italic;
}

table, th, td {
    border: 0px none !important;
  }

  img.faq-reps {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #000;
    //border-radius: 30% 70% 70% 30% / 30% 31% 69% 70%;
    //https://9elements.github.io/fancy-border-radius/#30.30.31.30--.
  }

  #urostimage {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 30% 70% 70% 30% / 30% 31% 69% 70%; 
  }

  #illeostimage {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 44% 56% 49% 51% / 28% 42% 58% 72% ;
  }
  
  #colostimage {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 44% 56% 23% 77% / 28% 57% 43% 72% ;
  }

button.urostomy:before {
    z-index: -1;
    // background: #f5e78c;
    background: #F3E275;
    color: white;
}

button.illeostomy:before {
    z-index: -1;
    background: #8DC1F9;
    color: white;
}

button.colostomy:before {
    z-index: -1;
    background: #F9C58D;
    color: white;
}

@keyframes uroshadow {
    0% { box-shadow: #F3E275 0 0 7em; }
    50% { box-shadow: transparent 0 0 1em; }
    75% { box-shadow: transparent 0 0 1em;}
    100% { box-shadow: #F3E275 0 0 7em; }
}

@keyframes illeoshadow {
    0% { box-shadow: #8DC1F9 0 0 7em; }
    50% { box-shadow: transparent 0 0 1em; }
    75% { box-shadow: transparent 0 0 1em;}
    100% { box-shadow: #8DC1F9 0 0 7em; }
}

@keyframes coloshadow {
    0% { box-shadow: #F9C58D 0 0 7em; }
    50% { box-shadow: transparent 0 0 1em; }
    75% { box-shadow: transparent 0 0 1em;}
    100% { box-shadow: #F9C58D 0 0 7em; }
}

.urostimage {
    animation: uroshadow 2s infinite;
}

.illeostimage {
    animation: illeoshadow 2s infinite;
}

.colostimage {
    animation: coloshadow 2s infinite;
}
