/*
*	Awestomates - An awesome place for new ostomates
*	Version: 1.8.0
*	Author: Kaska
*	Author URL: https://github.com/batmanwgd
*	Copyright © Awestomates by Kaska. All Rights Reserved.
*/


/* Preparing for Pre-Op */
.section.hero-started .lui-subtitle {
    font-size: 0.8em;
}

.section.hero-started .description {
    font-size: 0.9em;
}

.lui-bgtitle {
    font-size: 9.8em;
}

.m-titles .m-subtitle {
    font-size: 0.9em;
}

h5, .lui-title {
    color: #70706F;
    font-family: "Caveat";
    font-size: 1.8em;
}
