/*
*	Awestomates - An awesome place for new ostomates
*	Version: 1.8.0
*	Author: Kaska
*	Author URL: https://github.com/batmanwgd
*	Copyright © Awestomates by Kaska. All Rights Reserved.
*/

h5.faqQ {
    //margin-top: 20px;
    margin-bottom: 0px;
}

p.faqA {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.4em;
}

span.faqT {
    //padding-bottom: 20px;
}

.searchBar {
    margin-bottom: 20px;
}

div.faqR {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px dashed rgba(36, 36, 36, 0.4);
    //border-bottom: 2px dashed black;
}
