<div class="clearfix"></div>

<div class="container">
    <footer class="footer">
        <div class="row">

            <div class="col-sm-6">

                <p class="copy">
                    &copy; 2023, Designed
                    &amp; coded by
                    <a href="https://linkedin.com/in/rosenfaden">Kaska</a>
                </p>

            </div>
            <!-- End col-sm-6 -->

            <div class="col-sm-6">

                <ul class="list-none footer-social sm-mt10">
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-behance"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <!-- End footer-social -->

            </div>
            <!-- End col-sm-6 -->
        </div>
    </footer>
    <!-- End footer -->
</div>
<!-- End container -->
