{{ define "main" }}

{{ "<!-- heading -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-md-12">

        <div class="heading-box">
          <h1>{{ .Title }}</h1>
        </div>

      </div>    
    </div>      
  </div>

  <div class="container">
	<div class="row">
	  <div class="col-md-9">
            <div id="search-results"></div>

            <script id="search-result-box" type="text/x-js-template">
            <div id="search-item-${key}" class="search-item wow fadeUp" data-wow-delay=".3s">
                <h3><a href="${link}">${title}</a></h3>
                <p>${snippet}</p>
            </div>
            </script>
            <script>
                 var textResults = "{{ i18n "searchResults" }}";
                 var textNotFound = "{{ i18n "searchNotFound" }}";
            </script>
		</div>
        <div class="col-md-3 mountain-padding-left">

            {{ partial "sidebar" . }}
    
        </div> 
	</div>
</div>

{{ end }}