{{ define "main" }}

<div class="background-bg background-bg-inner">
  <div class="background-filter">
    <div class="background-img"></div>
  </div>
</div>

<div class="parallax-container">
    <div class="container d-flex text-center align-items-center justify-content-center error-page">
        <div>
	        <div class="error-page__num">{{ i18n "errorNum" }}</div>
	         <h3 class="title title--h5 mb-3">{{ i18n "errorTitle" }}</h3>
	         <p class="description">{{ i18n "errorText" }}</p>
		   </div>
    </div>
</div>

{{ end }}
